@page
@model RazorPagesGetPostDemoUI.Pages.Person.AddInfoModel
@{
    ViewData["Title"] = "Add Person Info";
}

<h1>Add Person Info</h1>

<div>
    Post to AddInfo that then does a get to Index
    <form method="post">
        <label asp-for="CurrentPerson.Name"></label>
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name"/>
        <label asp-for="CurrentPerson.Hometown"></label>
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Hometown"/>
        <input type="submit" />
    </form>
</div>

<div>
    Cross post to Index page
    <form method="post" asp-page="Index">
        <label asp-for="CurrentPerson.Name"></label>
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name" />
        <label asp-for="CurrentPerson.Hometown"></label>
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Hometown" />
        <input type="submit" />
    </form>
</div>

<div>
    Get from form to Index page
    <form method="get" asp-page="Index">
        <label asp-for="CurrentPerson.Name"></label>
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name" />
        <label asp-for="CurrentPerson.Hometown"></label>
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Hometown" />
        <input type="submit" />
    </form>
</div>